<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools App - Blumas</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Iconos de Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container center-align">
        <h4 class="teal-text text-darken-3">Tools App - Blumas</h4>

        <div class="row">
            <!-- Botón Ejecutar Horas -->
            <div class="col s12 m6">
                <button class="btn-large waves-effect waves-light teal darken-2" id="btnEjecutar">
                    <i class="material-icons left">play_arrow</i> Ejecutar Horas
                </button>
            </div>
            <!-- Botón Descargar CSV -->
            <div class="col s12 m6">
                <button class="btn-large waves-effect waves-light teal darken-3 modal-trigger" data-target="modalDescargar">
                    <i class="material-icons left">cloud_download</i> Descargar CSV
                </button>
            </div>
            <!-- Botón Listar Archivos -->
            <div class="col s12">
                <button class="btn-large waves-effect waves-light teal darken-4" id="btnListar">
                    <i class="material-icons left">list</i> Ver Últimos Archivos
                </button>
            </div>
        </div>
    </div>

    <!-- Modal para Descargar CSV -->
    <div id="modalDescargar" class="modal">
        <div class="modal-content">
            <h5>Descargar CSV</h5>
            <div class="input-field">
                <input type="text" id="inputFecha" placeholder="YYYYMM">
                <label for="inputFecha">Ingrese la fecha</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light red">Cerrar</button>
            <button class="btn waves-effect waves-light teal darken-2" id="btnDescargar">
                <i class="material-icons left">cloud_download</i> Descargar
            </button>
        </div>
    </div>

    <!-- Modal para Mostrar la Lista de Archivos -->
    <div id="modalArchivos" class="modal">
        <div class="modal-content">
            <h5>Últimos Archivos Generados</h5>
            <ul id="listaArchivos"></ul>
        </div>
        <div class="modal-footer">
            <button class="modal-close btn waves-effect waves-light red">Cerrar</button>
        </div>
    </div>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- JavaScript personalizado -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
